<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A Cocoa Touch class.</string>
	<key>Summary</key>
	<string>A Cocoa Touch class</string>
	<key>SortOrder</key>
	<string>-3</string>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>YPView</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Values</key>
			<array>
				<string>YPView</string>
				<string>YPSingleton</string>
				<string>YPViewController</string>
				<string>YPTableViewController</string>
				<string>YPTableViewCell</string>
				<string>YPCollectionViewController</string>
				<string>YPCollectionViewCell</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>UIViewController</key>
				<string>ViewController</string>
				<key>UITableViewController</key>
				<string>TableViewController</string>
				<key>UITableViewCell</key>
				<string>TableViewCell</string>
				<key>UICollectionViewController</key>
				<string>CollectionViewController</string>
				<key>UICollectionViewCell</key>
				<string>CollectionViewCell</string>
				<key>UICollectionReusableView</key>
				<string>CollectionReusableView</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>none</string>
			<key>Required</key>
			<false/>
			<key>Name</key>
			<string>Language:</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Objective-C</string>
		</dict>
	</array>
</dict>
</plist>
